# Action name
name: Deploy Proyect
# On each commit is pushed into the project
on: [push, workflow_dispatch]
# Should do
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Install NodeJs
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      - name: Install Dependencies
        run: npm ci
      - name: Run Test
        run: npm run test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Install NodeJs
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      - name: Install Dependencies
        run: npm ci
      - name: Build project
        run: npm run 
      - name: Deploy
        run: echo "Deploying code ..."

